@{
    ViewBag.Title = "About";
}
<div>
    <div class="row well well-lg">
        <div class="col-md-6 col-md-offset-3 text-center">
            <img src="~/Photos/AdaGreen.png" alt="BrietLogo" class="img-responsive" />
            <p>Bríet.is is a great platform that enables users to download <br />
               subtitles for their favorite movies or TV shows.You can also<br />
               become a member and take part in creating or editing subtitles.<br/>
               The site was created by the DísTeam design team, which consists of two students;<br />
               Heiðdís Rut Hreinsdóttir and Lena Dís Rúnarsdóttir.<br />
              This is their first ever design project and they sincerly hope you will enjoy it!
            </p>
        </div>
    </div>
</div>
