@{
    ViewBag.Title = "About";
}
<div>
    <div class="row well well-lg">
        <div class="col-md-6 col-md-offset-3 text-center">
            <img src="~/Photos/AdaGreen.png" alt="BrietLogo" class="img-responsive" />
            <p>Bríet is a great platform that enables users to download subtitles for their favorite movies as well as creating subtitles for their movies.</p>

        </div>
    </div>
</div>
